USE [AV_DASHBOARD]
GO
/****** Object:  Table [dbo].[EVENEMENT]    Script Date: 04/11/2019 12:04:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENEMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DATE] [datetime] NOT NULL,
	[RESUME] [nvarchar](max) NULL,
	[CONTENU] [nvarchar](max) NULL,
	[EST_LU] [bit] NOT NULL,
	[EST_TRAITE] [bit] NOT NULL,
	[Personne_Id] [int] NULL,
	[Session_Id] [int] NULL,
	[TypeEvenement_Id] [int] NULL,
 CONSTRAINT [PK_dbo.EVENEMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PERSONNE]    Script Date: 04/11/2019 12:04:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONNE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOM] [nvarchar](max) NULL,
	[PRENOM] [nvarchar](max) NULL,
	[EMAIL] [nvarchar](max) NULL,
	[TELEPHONE] [nvarchar](max) NULL,
	[TYPE] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PERSONNE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PLANNING]    Script Date: 04/11/2019 12:04:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLANNING](
	[ID] [int] NOT NULL,
	[LIBELLE] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.PLANNING] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PLANNING_DATE]    Script Date: 04/11/2019 12:04:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLANNING_DATE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DATE] [datetime] NOT NULL,
	[Planning_Id] [int] NULL,
	[TypePlanningDate_Id] [int] NULL,
 CONSTRAINT [PK_dbo.PLANNING_DATE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SESSION]    Script Date: 04/11/2019 12:04:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SESSION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LIBELLE] [nvarchar](max) NULL,
	[ETAT] [nvarchar](max) NULL,
	[ACTION_A_REALISER] [nvarchar](max) NULL,
	[URL] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.SESSION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SessionPersonnes]    Script Date: 04/11/2019 12:04:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SessionPersonnes](
	[Session_Id] [int] NOT NULL,
	[Personne_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SessionPersonnes] PRIMARY KEY CLUSTERED 
(
	[Session_Id] ASC,
	[Personne_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TYPE_EVENEMENT]    Script Date: 04/11/2019 12:04:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPE_EVENEMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LIBELLE] [nvarchar](max) NULL,
	[EST_ACTION] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.TYPE_EVENEMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TYPE_PLANNING_DATE]    Script Date: 04/11/2019 12:04:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPE_PLANNING_DATE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LIBELLE] [nvarchar](max) NULL,
	[VALEUR_AJOUTEE_PAR_DEFAUT] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TYPE_PLANNING_DATE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[EVENEMENT]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EVENEMENT_dbo.PERSONNE_Personne_Id] FOREIGN KEY([Personne_Id])
REFERENCES [dbo].[PERSONNE] ([ID])
GO
ALTER TABLE [dbo].[EVENEMENT] CHECK CONSTRAINT [FK_dbo.EVENEMENT_dbo.PERSONNE_Personne_Id]
GO
ALTER TABLE [dbo].[EVENEMENT]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EVENEMENT_dbo.SESSION_Session_Id] FOREIGN KEY([Session_Id])
REFERENCES [dbo].[SESSION] ([ID])
GO
ALTER TABLE [dbo].[EVENEMENT] CHECK CONSTRAINT [FK_dbo.EVENEMENT_dbo.SESSION_Session_Id]
GO
ALTER TABLE [dbo].[EVENEMENT]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EVENEMENT_dbo.TYPE_EVENEMENT_TypeEvenement_Id] FOREIGN KEY([TypeEvenement_Id])
REFERENCES [dbo].[TYPE_EVENEMENT] ([ID])
GO
ALTER TABLE [dbo].[EVENEMENT] CHECK CONSTRAINT [FK_dbo.EVENEMENT_dbo.TYPE_EVENEMENT_TypeEvenement_Id]
GO
ALTER TABLE [dbo].[PLANNING]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PLANNING_dbo.SESSION_ID] FOREIGN KEY([ID])
REFERENCES [dbo].[SESSION] ([ID])
GO
ALTER TABLE [dbo].[PLANNING] CHECK CONSTRAINT [FK_dbo.PLANNING_dbo.SESSION_ID]
GO
ALTER TABLE [dbo].[PLANNING_DATE]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PLANNING_DATE_dbo.PLANNING_Planning_Id] FOREIGN KEY([Planning_Id])
REFERENCES [dbo].[PLANNING] ([ID])
GO
ALTER TABLE [dbo].[PLANNING_DATE] CHECK CONSTRAINT [FK_dbo.PLANNING_DATE_dbo.PLANNING_Planning_Id]
GO
ALTER TABLE [dbo].[PLANNING_DATE]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PLANNING_DATE_dbo.TYPE_PLANNING_DATE_TypePlanningDate_Id] FOREIGN KEY([TypePlanningDate_Id])
REFERENCES [dbo].[TYPE_PLANNING_DATE] ([ID])
GO
ALTER TABLE [dbo].[PLANNING_DATE] CHECK CONSTRAINT [FK_dbo.PLANNING_DATE_dbo.TYPE_PLANNING_DATE_TypePlanningDate_Id]
GO
ALTER TABLE [dbo].[SessionPersonnes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SessionPersonnes_dbo.PERSONNE_Personne_Id] FOREIGN KEY([Personne_Id])
REFERENCES [dbo].[PERSONNE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SessionPersonnes] CHECK CONSTRAINT [FK_dbo.SessionPersonnes_dbo.PERSONNE_Personne_Id]
GO
ALTER TABLE [dbo].[SessionPersonnes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SessionPersonnes_dbo.SESSION_Session_Id] FOREIGN KEY([Session_Id])
REFERENCES [dbo].[SESSION] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SessionPersonnes] CHECK CONSTRAINT [FK_dbo.SessionPersonnes_dbo.SESSION_Session_Id]
GO
